In [1]:
import pandas as pd
from dateutil.parser import parse # to help with datatime edits

# Import data from 'products_details.csv' into DataFrame.
table_name = 'products_details'
csv_file_path = 'products_details.csv'
products_details_df = pd.read_csv(csv_file_path, index_col=0)
# Display the DataFrame
display(products_details_df)

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...
1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,134g,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,RAC 12V Wet & Dry Vacuum,£18.00,820g,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,Beldray Telescopic Ladder 2.9m,£69.00,9.4kg,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

In [2]:
products_details_df_original = products_details_df.copy()

display(products_details_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1853 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1849 non-null   object
 1   product_price  1849 non-null   object
 2   weight         1849 non-null   object
 3   category       1849 non-null   object
 4   EAN            1849 non-null   object
 5   date_added     1849 non-null   object
 6   uuid           1849 non-null   object
 7   removed        1849 non-null   object
 8   product_code   1849 non-null   object
dtypes: object(9)
memory usage: 144.8+ KB

None

# null

In [3]:
# Show rows where 'product_price' values isnull
filtered_products_details_df = products_details_df[products_details_df['product_price'].isnull()]

display(filtered_products_details_df.info())
display(filtered_products_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 266 to 1660
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   0 non-null      object
 1   product_price  0 non-null      object
 2   weight         0 non-null      object
 3   category       0 non-null      object
 4   EAN            0 non-null      object
 5   date_added     0 non-null      object
 6   uuid           0 non-null      object
 7   removed        0 non-null      object
 8   product_code   0 non-null      object
dtypes: object(9)
memory usage: 320.0+ bytes

None

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Show rows where 'product_price' values are notnull
filtered_products_details_df = products_details_df[products_details_df['product_price'].notnull()]

display(filtered_products_details_df.info())
display(filtered_products_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 1849 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1849 non-null   object
 1   product_price  1849 non-null   object
 2   weight         1849 non-null   object
 3   category       1849 non-null   object
 4   EAN            1849 non-null   object
 5   date_added     1849 non-null   object
 6   uuid           1849 non-null   object
 7   removed        1849 non-null   object
 8   product_code   1849 non-null   object
dtypes: object(9)
memory usage: 144.5+ KB

None

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...
1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,134g,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,RAC 12V Wet & Dry Vacuum,£18.00,820g,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,Beldray Telescopic Ladder 2.9m,£69.00,9.4kg,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

# category

In [5]:
print(filtered_products_details_df['category'].unique())
print(filtered_products_details_df['category'].nunique(), "\n")

['toys-and-games' 'sports-and-leisure' 'pets' 'homeware' 'S1YB74MLMJ'
 'C3NCA2CL35' 'WVPMHZP59U' 'health-and-beauty' 'food-and-drink' 'diy']
10

In [6]:
# regular expression to filter out rows where 'category' contains numbers
filtered_products_details_df = filtered_products_details_df[~filtered_products_details_df['category'].str.contains('\d')]

# Display unique values and count after filtering
print(filtered_products_details_df['category'].unique())
print(filtered_products_details_df['category'].nunique())

# Display the updated DataFrame
display(filtered_products_details_df)
display(filtered_products_details_df.info())

['toys-and-games' 'sports-and-leisure' 'pets' 'homeware'
 'health-and-beauty' 'food-and-drink' 'diy']
7

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...
1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,134g,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,RAC 12V Wet & Dry Vacuum,£18.00,820g,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,Beldray Telescopic Ladder 2.9m,£69.00,9.4kg,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   object
 3   category       1846 non-null   object
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   object
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: object(9)
memory usage: 144.2+ KB

None

In [7]:
filtered_products_details_df['category'] = filtered_products_details_df['category'].astype('category')
display(filtered_products_details_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   object
 3   category       1846 non-null   category
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   object
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: category(1), object(8)
memory usage: 131.9+ KB

None

# date_added

In [8]:

# def convert_date(date_str):
#     try:
#         return parse(date_str).strftime('%Y-%m-%d')
#     except Exception:
#         return pd.NaT  # Return a pandas NaT for values that cannot be parsed


# filtered_products_details_df['date_added'] = filtered_products_details_df['date_added'].apply(lambda x: convert_date(str(x)) if pd.notnull(x) else x)

# display(filtered_products_details_df.info())
# display(filtered_products_details_df)

In [9]:
# Show rows where 'latitude' values are notnull
null_check_products_details_df = filtered_products_details_df[filtered_products_details_df['date_added'].isnull()]

display(null_check_products_details_df.info())
display(null_check_products_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   0 non-null      object
 1   product_price  0 non-null      object
 2   weight         0 non-null      object
 3   category       0 non-null      category
 4   EAN            0 non-null      object
 5   date_added     0 non-null      object
 6   uuid           0 non-null      object
 7   removed        0 non-null      object
 8   product_code   0 non-null      object
dtypes: category(1), object(8)
memory usage: 356.0+ bytes

None

Empty DataFrame
Columns: [product_name, product_price, weight, category, EAN, date_added, uuid, removed, product_code]
Index: []

In [10]:
# Convert the 'date_added' column to datetime format
filtered_products_details_df['date_added'] = filtered_products_details_df['date_added'].apply(parse)
display(filtered_products_details_df.info())
display(filtered_products_details_df)

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   object
 3   category       1846 non-null   category
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   datetime64[ns]
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: category(1), datetime64[ns](1), object(7)
memory usage: 131.9+ KB

None

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...
1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,134g,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,RAC 12V Wet & Dry Vacuum,£18.00,820g,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,Beldray Telescopic Ladder 2.9m,£69.00,9.4kg,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

In [11]:
print("Display unique values and count after filtering")
print(filtered_products_details_df['date_added'].unique(), "\n")


print("Display the updated DataFrame")
display(filtered_products_details_df)
display(filtered_products_details_df.info())
display(filtered_products_details_df.describe())

Display unique values and count after filtering
<DatetimeArray>
['2005-12-02 00:00:00', '2006-01-09 00:00:00', '1997-03-29 00:00:00',
 '2013-03-20 00:00:00', '2007-12-23 00:00:00', '2007-02-07 00:00:00',
 '2009-01-24 00:00:00', '2013-08-13 00:00:00', '2005-05-26 00:00:00',
 '2003-08-05 00:00:00',
 ...
 '1995-04-08 00:00:00', '2016-11-06 00:00:00', '2002-08-29 00:00:00',
 '1995-12-12 00:00:00', '2014-06-30 00:00:00', '2003-03-09 00:00:00',
 '2020-08-28 00:00:00', '2012-05-20 00:00:00', '1993-11-28 00:00:00',
 '2006-10-07 00:00:00']
Length: 1700, dtype: datetime64[ns]

Display the updated DataFrame

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...
1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,134g,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,RAC 12V Wet & Dry Vacuum,£18.00,820g,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,Beldray Telescopic Ladder 2.9m,£69.00,9.4kg,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   object
 3   category       1846 non-null   category
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   datetime64[ns]
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: category(1), datetime64[ns](1), object(7)
memory usage: 131.9+ KB

None

                          date_added
count                           1846
mean   2008-04-25 09:24:46.023835392
min              1992-12-29 00:00:00
25%              2000-09-28 06:00:00
50%              2008-04-30 00:00:00
75%              2016-01-28 06:00:00
max              2022-12-13 00:00:00

In [12]:
# Convert the 'date_added' column to datetime format, handling specific formats
# filtered_products_details_df['date_added'] = pd.to_datetime(filtered_products_details_df['date_added'], errors='coerce', format='%Y-%m-%d')

filtered_products_details_df['date_added'] = filtered_products_details_df['date_added'].combine_first(pd.to_datetime(filtered_products_details_df['date_added'], errors='coerce', format='%Y %B %d'))

# filtered_store_details_df['opening_date'] = filtered_store_details_df['opening_date'].dt.strftime('%Y-%m-%d')
print(filtered_products_details_df['date_added'].unique())

display(filtered_products_details_df)
display(filtered_products_details_df.info())

<DatetimeArray>
['2005-12-02 00:00:00', '2006-01-09 00:00:00', '1997-03-29 00:00:00',
 '2013-03-20 00:00:00', '2007-12-23 00:00:00', '2007-02-07 00:00:00',
 '2009-01-24 00:00:00', '2013-08-13 00:00:00', '2005-05-26 00:00:00',
 '2003-08-05 00:00:00',
 ...
 '1995-04-08 00:00:00', '2016-11-06 00:00:00', '2002-08-29 00:00:00',
 '1995-12-12 00:00:00', '2014-06-30 00:00:00', '2003-03-09 00:00:00',
 '2020-08-28 00:00:00', '2012-05-20 00:00:00', '1993-11-28 00:00:00',
 '2006-10-07 00:00:00']
Length: 1700, dtype: datetime64[ns]

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...
1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,134g,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,RAC 12V Wet & Dry Vacuum,£18.00,820g,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,Beldray Telescopic Ladder 2.9m,£69.00,9.4kg,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   object
 3   category       1846 non-null   category
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   datetime64[ns]
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: category(1), datetime64[ns](1), object(7)
memory usage: 196.5+ KB

None

# removed

In [13]:
print("Display unique values and count after filtering")
print(filtered_products_details_df['removed'].unique(), "\n")

print("Display the updated DataFrame")
display(filtered_products_details_df)
display(filtered_products_details_df.info())

Display unique values and count after filtering
['Still_avaliable' 'Removed']

Display the updated DataFrame

,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...
1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,134g,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,RAC 12V Wet & Dry Vacuum,£18.00,820g,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,Beldray Telescopic Ladder 2.9m,£69.00,9.4kg,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   object
 3   category       1846 non-null   category
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   datetime64[ns]
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: category(1), datetime64[ns](1), object(7)
memory usage: 196.5+ KB

None

In [14]:
print("Display unique values and count after filtering")
print(filtered_products_details_df['removed'].unique(), "\n")

print("Display the updated DataFrame")
display(filtered_products_details_df.info())

Display unique values and count after filtering
['Still_avaliable' 'Removed']

Display the updated DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   object
 3   category       1846 non-null   category
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   datetime64[ns]
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   object
 8   product_code   1846 non-null   object
dtypes: category(1), datetime64[ns](1), object(7)
memory usage: 196.5+ KB

None

In [15]:
filtered_products_details_df['removed'] = filtered_products_details_df['removed'].astype('category')
display(filtered_products_details_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight         1846 non-null   object
 3   category       1846 non-null   category
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   datetime64[ns]
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   category
 8   product_code   1846 non-null   object
dtypes: category(2), datetime64[ns](1), object(6)
memory usage: 184.0+ KB

None

# weight

In [16]:
print("Display unique values and count after filtering")
print(filtered_products_details_df['weight'].unique(), "\n")
print(filtered_products_details_df['weight'].nunique(), "\n")

Display unique values and count after filtering
['1.6kg' '0.48kg' '590g' '540g' '1.91kg' '0.91kg' '0.46kg' '0.38kg'
 '8.981kg' '1.478kg' '1.2g' '0.66kg' '1.8kg' '1.9kg' '1.725kg' '0.54kg'
 '0.322kg' '0.71kg' '0.88kg' '0.67kg' '11.076kg' '4kg' '0.385kg' '1.38kg'
 '2.57kg' '1.35kg' '0.695kg' '1.15kg' '0.98kg' '1.447kg' '1.3625kg'
 '2.25kg' '0.79kg' '0.8kg' '1.08kg' '2.476kg' '0.137kg' '11.5kg' '0.44kg'
 '2.75kg' '0.911kg' '0.33kg' '1kg' '0.5kg' '0.45kg' '0.7kg' '0.41kg'
 '1.3kg' '2kg' '0.34kg' '0.37kg' '0.76kg' '1.18kg' '0.685kg' '1.59kg'
 '1.4kg' '1.66kg' '13.5kg' '0.745kg' '1.44kg' '0.74kg' '0.660kg' '0.419kg'
 '0.418kg' '0.470kg' '0.353kg' '0.350kg' '0.96kg' '1.20kg' '1.21kg'
 '1.02kg' '0.365kg' '0.677kg' '0.55kg' '0.43kg' '0.11kg' '1.23kg' '1.03kg'
 '0.87kg' '0.39kg' '0.35kg' '0.42kg' '0.27kg' '726g' '0.61kg' '0.864kg'
 '0.667kg' '0.63kg' '0.72kg' '0.58kg' '0.627kg' '0.3kg' '0.32kg' '0.01kg'
 '0.650kg' '0.68kg' '0.36kg' '1.395kg' '0.9kg' '0.468kg' '0.687kg'
 '0.955kg' '0.700kg' '0.900kg' '0.06kg' '0.967kg' '0.03kg' '1.041kg'
 '0.6kg' '0.65kg' '0.59kg' '0.639kg' '0.649kg' '0.354kg' '1.25kg' '0.16kg'
 '0.258kg' '0.313kg' '0.08kg' '420g' '1.68kg' '0.718kg' '0.92kg' '0.072kg'
 '1.7kg' '3kg' '1.2kg' '1.505kg' '1.49kg' '0.492kg' '3.3kg' '3.17kg'
 '2.565kg' '0.443kg' '1.75kg' '0.21kg' '0.86kg' '0.882kg' '0.4kg' '0.77kg'
 '2.2kg' '1.27kg' '0.809kg' '0.378kg' '3.1kg' '1.84kg' '0.47kg' '1.16kg'
 '1.1kg' '0.087kg' '0.504kg' '480g' '12 x 100g' '8 x 150g' '6 x 412g'
 '6 x 400g' '15kg' '160g' '180g' '112g' '120g' '96g' '125g' '110g' '128g'
 '115g' '170g' '200g' '80g' '130g' '140g' '53g' '500g' '100g' '700g'
 '750g' '800g' '8 x 85g' '40 x 100g' '12 x 85g' '50g' '300g' '512g'
 '5.6kg' '6.4kg' '10kg' '14.8kg' '2.9kg' '2.4kg' '6kg' '18.7kg' '11kg'
 '7.5kg' '4.1kg' '13.7kg' '3.03kg' '3.8kg' '1.071kg' '13kg' '1.5kg'
 '2.8kg' '6.2kg' '296g' '1.65kg' '1.06kg' '2290g' '1950g' '1675g' '1550g'
 '1650g' '1450g' '1300g' '1100g' '2200g' '1850g' '1800g' '1500g' '250g'
 '0.2kg' '1.55kg' '1.40kg' '2100g' '1750g' '0.29kg' '450g' '10.5g' '280g'
 '230g' '150g' '416g' '163g' '360g' '390g' '1470g' '520g' '270g' '60g'
 '380g' '350g' '282g' '155g' '2.06kg' '3.2kg' '2.5kg' '10.5kg' '4.3kg'
 '9kg' '31kg' '12.8kg' '32.1kg' '16.7kg' '23.9kg' '20kg' '11.85kg'
 '18.5kg' '33kg' '8.2kg' '970g' '2.280kg' '1.280kg' '1.200kg' '1.440kg'
 '550g' '30g' '1230g' '52g' '45g' '650g' '340g' '265g' '1.09kg' '14g'
 '998g' '335g' '28kg' '6.25kg' '9.3kg' '28.8kg' '35.5kg' '537g' '375g'
 '260g' '600g' '61g' '165g' '475g' '26g' '615g' '582g' '430g' '440g'
 '0.423kg' '0.126kg' '0.22kg' '190g' '370g' '470g' '368g' '410g' '4.6kg'
 '3.4kg' '2.05kg' '2.1kg' '1.76kg' '2.85kg' '2.36kg' '1.37kg' '1.72kg'
 '1.73kg' '1.63kg' '0.75kg' '4.53kg' '3.45kg' '2.03kg' '4.5kg' '12.1kg'
 '9.4kg' '6.1kg' '4.2kg' '12kg' '21kg' '7.8kg' '5.7kg' '5kg' '1760g'
 '3.75kg' '4.85kg' '5.5kg' '11.6kg' '10.7kg' '22.5kg' '19.8kg' '8.5kg'
 '15.5kg' '2.7kg' '27kg' '9.8kg' '12.5kg' '7.3kg' '8.4kg' '5.4kg' '15.8kg'
 '3.9kg' '6.3kg' '7kg' '6.9kg' '11.2kg' '12.3kg' '11.3kg' '15.6kg'
 '2.40kg' '2.70kg' '1.32kg' '1.80kg' '2.4g' '1.38g' '3.65kg' '1020g'
 '1220g' '185g' '887g' '570g' '365g' '0.24kg' '0.51kg' '0.25kg' '0.26kg'
 '0.81kg' '220g' '310g' '490g' '0.202kg' '630g' '330g' '850g' '936g'
 '363g' '240g' '856g' '169g' '3.429kg' '2.770kg' '1.870kg' '2.150kg'
 '1.250kg' '1510g' '1250g' '1700g' '2050g' '1780g' '795g' '320g' '0.28kg'
 '226g' '422g' '184g' '580g' '245g' '7.4kg' '1320g' '1090g' '1.56kg'
 '1160kg' '1060g' '1580g' '1365g' '2.14kg' '1.782kg' '1.081kg' '0.964kg'
 '2.66kg' '3.028g' '0.944g' '1.5g' '1.507g' '5.25kg' '3.82kg' '1.95kg'
 '1.05kg' '1.74kg' '0.89kg' '2.29kg' '810g' '3.85kg' '70g' '100ml'
 '3 x 2g' '4g' '60ml' '8g' '3 x 90g' '87g' '46g' '95g' '43g' '324g' '152g'
 '141g' '94g' '351g' '92g' '132g' '105g' '16 x 10g' '425g' '3 x 132g'
 '5 x 145g' '4 x 400g' '206g' '465g' '395g' '300ml' '800ml' '225g' '167g'
 '131g' '2 x 200g' '391g' '400g' '275g' '195g' '285g' '248g' '18g' '90g'
 '216g' '201g' '77g .' '99g' '114g' '0.115kg' '0.196kg' '290g' '3g' '16oz'
 '274g' '289g' '1.28kg' '820g' '134g']

480

In [17]:
import pandas as pd
import numpy as np
import re

class DataCleaning:
    @staticmethod
    def convert_product_weights(df):
        def convert_weight(value):
            try:
                # Check if the value contains 'x' indicating a multiplication
                if 'x' in value:
                    # Extract numeric parts and units from both sides of 'x'
                    numeric_part1, units1, numeric_part2, units2 = re.match(r"([\d.]+)\s*([a-zA-Z]*)\s*x\s*([\d.]+)\s*([a-zA-Z]*)", value).groups()

                    # If units1 is empty, use units2
                    if not units1:
                        units1 = units2

                    # Multiply numeric parts together
                    result = float(numeric_part1) * float(numeric_part2)

                    # Handle units conversion for both parts
                    if units1.lower() in ['g', 'gram', 'grams']:
                        result /= 1000
                    elif units1.lower() in ['ml', 'milliliter', 'milliliters']:
                        result /= 1000
                    elif units1.lower() in ['kg', 'kilogram', 'kilograms']:
                        pass  # No conversion needed for kg
                    elif units1.lower() in ['oz', 'ounce', 'ounces']:
                        result *= 0.0283495
                    else:
                        # If units are not recognized, return NaN
                        return np.nan

                else:
                    # Extract numeric part and units from the value
                    numeric_part, units = re.match(r"([\d.]+)\s*([a-zA-Z]*)", value).groups()

                    # Multiply numeric part by the units
                    result = float(numeric_part)

                    # Handle units conversion
                    if units.lower() in ['g', 'gram', 'grams']:
                        result /= 1000
                    elif units.lower() in ['ml', 'milliliter', 'milliliters']:
                        result /= 1000
                    elif units.lower() in ['kg', 'kilogram', 'kilograms']:
                        pass  # No conversion needed for kg
                    elif units.lower() in ['oz', 'ounce', 'ounces']:
                        result *= 0.0283495
                    else:
                        # If units are not recognized, return NaN
                        return np.nan

                return result

            except Exception as e:
                # If any error occurs, return NaN
                return np.nan

        # Apply the conversion function to the 'weight' column
        df['weight'] = df['weight'].apply(convert_weight)
        # Assuming your DataFrame is named filtered_products_details_df
        df = df.rename(columns={'weight': 'weight (kg)'})


        return round(df, 3)

filtered_products_details_df = DataCleaning.convert_product_weights(filtered_products_details_df)
display(filtered_products_details_df)
display(filtered_products_details_df.info())

,product_name,product_price,weight (kg),category,EAN,date_added,uuid,removed,product_code
0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.600,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,Tiffany's World Day Out At The Park,£12.99,0.480,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,Tiffany's World Pups Picnic Playset,£7.00,0.590,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,Tiffany's World Wildlife Park Adventures,£12.99,0.540,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,Cosatto Cosy Dolls Pram,£30.00,1.910,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...
1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,0.125,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,0.134,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,RAC 12V Wet & Dry Vacuum,£18.00,0.820,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,0.125,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,Beldray Telescopic Ladder 2.9m,£69.00,9.400,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

<class 'pandas.core.frame.DataFrame'>
Index: 1846 entries, 0 to 1852
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   1846 non-null   object
 1   product_price  1846 non-null   object
 2   weight (kg)    1846 non-null   float64
 3   category       1846 non-null   category
 4   EAN            1846 non-null   object
 5   date_added     1846 non-null   datetime64[ns]
 6   uuid           1846 non-null   object
 7   removed        1846 non-null   category
 8   product_code   1846 non-null   object
dtypes: category(2), datetime64[ns](1), float64(1), object(5)
memory usage: 184.0+ KB

None

In [18]:
# Sample DataFrame with test cases
data = {'weight': ['6 x 6g', '6g x 6', '3 x 12kg', '2 x 4oz']}
test_df = pd.DataFrame(data)

# Apply the conversion method
test_df_result = DataCleaning.convert_product_weights(test_df)

# Display the results
display(test_df_result[['weight (kg)']])

   weight (kg)
0        0.036
1        0.036
2       36.000
3        0.227

In [19]:
# Assuming your DataFrame is named filtered_products_details_df
rows_to_view = filtered_products_details_df.iloc[1668:1679]
display(rows_to_view)

,product_name,product_price,weight (kg),category,EAN,date_added,uuid,removed,product_code
1675,Kenco Rich Coffee 200g,£5.00,0.200,food-and-drink,4779990320073,2013-03-16,5869c164-6144-4f99-927d-d98ee4829344,Still_avaliable,T0-1811023f
1676,Nescafe Dolce Gusto - Latte Machiato 16pk,£3.69,0.160,food-and-drink,8057338051145,2005-08-23,07aa6951-d029-46ed-8a63-12e3ba9db4b7,Removed,C4-9106468S
1677,Nescafe Dolce Gusto - Flat White 16pk,£3.69,0.160,food-and-drink,8490641014047,1997-11-09,554505a2-a18d-4d39-bebf-d81ccbff148f,Still_avaliable,C2-4933266o
1678,Kenco Millicano Americano Original 170g,£5.49,0.170,food-and-drink,8443593127952,2014-03-07,90abf6fd-eca3-4f34-a30e-65c2b796cfbb,Still_avaliable,W7-4176512Q
1679,Hot Chocolate Christmas Crackers 7pk,£4.00,0.105,food-and-drink,6983342897689,2015-03-25,45eea7ed-03b1-49b1-986c-65750e678c60,Still_avaliable,J1-6217025U
1680,Nescafe Original Extraforte 230g,£3.29,0.230,food-and-drink,187466248914,2007-10-10,4a321ff1-81b9-462c-a028-858be154ac21,Still_avaliable,U4-6548273O
1681,L'Or Classique Instant Coffee 165g,£4.79,0.165,food-and-drink,6230622971004,2002-03-13,afca998a-d4ce-4a7e-9570-3f6973dd4ba8,Still_avaliable,a0-2609992t
1682,Nescafe Azera Americano Coffee 100g,£3.29,0.100,food-and-drink,4653713278769,2021-08-26,e2e07796-4530-4e4e-bc5c-65acb75d04ea,Still_avaliable,O8-3257166t
1683,Kenco Rich Coffee 200g,£5.00,0.200,food-and-drink,5132232398909,2014-01-12,d1d7ad38-cb2a-45ba-bf30-05f59fcb55d1,Still_avaliable,T1-4361198c
1684,Paxo Turkey & Bacon Stuffing Mix 170g,£1.49,0.170,food-and-drink,1203144727515,2010-05-17,49e4b626-4531-44e5-8301-c396dcfe72d6,Still_avaliable,l0-1781782I
1685,Paxo Sage & Onion Stuffing Mix 340g,£2.69,0.340,food-and-drink,6252855966916,2013-09-24,d0ab03e7-16ad-41fd-8e98-eafd07494e6f,Still_avaliable,n7-8249713j

In [20]:
print(filtered_products_details_df.shape)

(1846, 9)