In [1]:
import pandas as pd

# Import data from '_01_raw_tables_csv\card_details.csv' into DataFrame.
table_name = 'card_details'
csv_file_path = '..\_01_raw_tables_csv\card_details.csv'
card_details_df = pd.read_csv(csv_file_path)
# Display the DataFrame
display(card_details_df)

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13
...,...,...,...,...
15304,180036921556789,12/28,JCB 15 digit,1997-06-06
15305,180018030448512,11/24,JCB 15 digit,2004-06-16
15306,3569953313547220,04/24,JCB 16 digit,2020-02-05
15307,4444521712606810,06/27,VISA 16 digit,2008-06-16
15308,372031786522735,02/30,American Express,2009-02-04